html,
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0%;
    background-color: rgba(128, 128, 128, 0.753);
    padding: 0%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.cont1 {
    text-align: center;
    background: #fff;
    box-shadow: 0px 4px 6px 4px;
    width: 30vw;
    height: 70vh;
    position: absolute;
    top: 20vh;
    border-radius: 1vh;
}
.forgt{
    display: inline;
    text-align: center;
    font-size: 1vw;

}
#login,
#signup {
    height: 6vh;
    width: 15vw;
    margin: 4vh 0 2vh 0;
    outline: none;
    border-radius: 1vh;
    background-color: maroon;
    color: white;
    cursor: pointer;
}

#login:hover {
    background-color: rgb(114, 161, 20);
    color: white;
    transition: ease-in .4s;
}

#signup:hover {
    background-color: rgb(114, 161, 20);
    color: white;
    transition: ease-in .4s;
}

.inputstyle {
    height: 5vh;
    width: 20vw;
    margin: 4vh 2vw 0vh 2vw;
}

#si {
    position: relative;
    top: -46vh;
    left: 30vw;
    display: none;
}

.btn {
    height: 5vh;
    width: 10vw;
    cursor: pointer;
    outline: none;
    border-radius: 1vh;
}

#btn2 {
    background-color: maroon;
    color: white;
}

#logtxt {
    display: block;
}

#signtxt {
    display: none;
}

#ques {
    font-size: 1vw;
}